'Aula 1'/
'Aula 3'/
'Aula 4'/
'Aula 5'/
'Aula 6'/
 Aula_2/
'Jake VanderPlas - Python Data Science Handbook.  Essential Tools for Working with Data-O'\''Reilly Media (2016).pdf'
'Plano de aulas.xlsx'
'Python for Data Analysis.pdf'
